<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove problem</title>
</head>
<body>
    <h1>Remove a problem</h1>
    <form method="DELETE" action="/admin/remove">
        Id: <input type=""
        Title: <input type="text" name="title"><br><br>
        Statement:<br>
        <textarea name="statement" rows="5" cols="50"></textarea><br><br>
        <input type="submit" value="Add Problem">
    </form>
    <a href="/problems">Back to Problem List</a>
</body>
</html>
