{{define "content"}}
<style>
    .table-style {
        margin-left: 8rem;
        margin-right: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    table {
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
        /* Prevents long text from breaking the layout */
    }

    table td,
    table th {
        padding: 10px;
        font-size: small;
        text-align: left;
    }

    .accepted {
        color: rgb(5, 146, 5);
    }

    .wa {
        color: rgb(218, 15, 15);
    }
</style>
<div class="table-style">
    <p style="margin-bottom: 5px; font-size: x-large;">{{.Username}}'s submissions</p>
    <table border="1" style="border-collapse: collapse; color: rgb(74, 74, 74); width: 100%;">
        <tr>
            <th>#</th>
            <th>Who</th>
            <th>When</th>
            <th>Problem</th>
            <th>Language</th>
            <th>Verdict</th>
        </tr>
        {{range .Items}}
        <tr>
            <td><a href="/submission?id={{.SubID}}">{{.SubID}}</a></td>

            <td><a href="/profile?username={{.Username}}">{{.Username}}</a>
            </td>
            <td><code>{{.Submitted_at}}</code></td>
            <td><a href="/problem?id={{.ID}}">{{.Title}} </a></td>
            <td>GNU G++14</td>
            <td class="{{if eq .Verdict .Accepted}}accepted{{else}}wa{{end}}"><b>{{.Verdict}}</b></td>
        </tr>
        {{else}}
        <tr>
            <td colspan="6" style="text-align: center;">No data found.</td>
        </tr>
        {{end}}

    </table>
</div>
{{end}}